* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: grid;
    grid-gap: 10px;

    grid-template-rows: repeat(4, 50px);
    grid-template-columns: repeat(3, 1fr);

    /* justify-items: start; */
    /* justify-items: center; */
    /* justify-items: end; */
    justify-items: stretch;
}

main>* {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

div:nth-child(1) {
    justify-self: start;
}