body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-gap: 10px;
    height: 100vh;

    grid-template-areas:
        "header"
        "izquierda"
        "contenido"
        "derecha"
        "footer";
}

@media (min-width: 576px) {
    main {
        grid-template-areas:
            "header header ."
            "izquierda contenido derecha"
            "izquierda contenido ."
            "footer footer footer";

        grid-template-rows: 1fr 2fr 1fr;
    }
}

main>* {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

article {
    grid-area: contenido;
}

aside:first-of-type {
    grid-area: izquierda;
}

aside:last-of-type {
    grid-area: derecha;
}