body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-gap: 10px;
    height: 100vh;

    grid-template-columns: 1fr;
}

main > * {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

/* tablet */
@media (min-width: 576px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

/* laptop */
@media (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}