body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    grid-gap: 10px;

    display: grid;

    grid-template-columns: 300px 100px;

    /* implicit GRID */
    grid-auto-flow: column;
    grid-auto-columns: 600px;
}

main>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}